<div class="main-container">
    <div class="left-container">
        <app-common-sidebar></app-common-sidebar>
    </div>

    <div class="right-container">
        <div class="binding_logo_signin">
            <h1 class="logo">Logo</h1>

            <mat-card>
                <div class="image-container">
                    <img src="\assets\maill.png" alt="Login_image">
                </div>
                <p class="Cont2">Kindly check your email a link has been sent there to<br> reset your password</p>
                <div class="goBackWrapper">
                   Back to Sign in?  <a routerLink="/">Go Back</a>
                </div>
            </mat-card>
        </div>
    </div>
</div>