
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu .profile {
    display: flex;
    align-items: center;
}

.menu .profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}