<div class="main-container">
    <div class="left-side">
        <app-common-sidebar></app-common-sidebar>
    </div>

    <div class="right-container">
        <div class="binding_logo_signin">
            <h1 class="logo">Logo</h1>

            <mat-card>
                <h1>Forget Password</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-label>Enter your email address</mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput placeholder=" Enter Email " formControlName="email" type="email" required>
                        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                
                    <button mat-raised-button class="full-width custom-blue-button">Sign
                        In</button>
                
                    <p>Back to Sign In ? <a href="">Go Back</a></p>
                </form>
            </mat-card>
        </div>
    </div>
</div>
